.vscode/**
.vscode-test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/**
out/**
buildall.hxml
extension.hxml
lua_client.hxml
lua_server.hxml
main.hxml